<div class="grid_24 widget">
  <%= render_widget :motd %>
</div>

<div class="grid_12 widget">

</div>

<div class="grid_6 widget">
  <%= render_widget :velocity %>
</div>

<div class="grid_6 widget">
  <%= render_widget :world_clock %>
</div>