<div class="grid_24 widget">
  <%= render_widget :motd %>
</div>

<div class="grid_18 widget">
  <%= render_widget :epics %>
</div>

<div class="grid_6 widget">
  <%= render_widget :velocity %>
</div>