<div id="epics">
  <div class="inside">
    <h2>Current Epics</h2>

    <table class="epics">
      <% @epics.each do |epic| %>
        <tr class="epic">
          <th>
            <%= "#{epic.name}" %>
          </th>
          <td>
            <div class="progress">
              <div class="completed" style="width: <%= epic.percent_complete %>%"></div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>