<div id="world_clock">
  <div class="inside">
    <h2>World Clock</h2>

    <% @cities.each do |city| %>
      <h3><%= city.name %></h3>
      <div class="time"><%= city.time.strftime("%I:%M:%S %p") %></div>
    <% end %>
  </div>
</div>