/* =colors
------------------------------------------------------------------ */
$purple:    #b50e58;
$widget_bg: #252525;

/* =theme
------------------------------------------------------------------ */
a:link,
a:visited,
a:hover,
a:active {
  color: #fff;
}
a:hover {
  background: $purple;
}
body {
  background: #000;
  color: #fff;
}
#main {
  margin-top: 10px;
}
footer {
  margin-top: 10px;
  text-align: center;
}
footer p {
  margin: 0;
  padding: 5px;
  color: #555;
  font-size: 80%;
  font-style: italic;
}

/* =widgets
------------------------------------------------------------------ */
.widget {
  background: $widget_bg;
  margin-top: 10px;
}
.widget .inside {
  margin: 0;
  padding: 5px 10px;
}
.widget h2 {
  margin: 5px 0;
  text-align: center;
}
#widget_velocity .velocity {
  font-size: 300%;
  text-align: center;
}