/* =theme
------------------------------------------------------------------ */
body {
  background: #000;
  color: #fff;
}
#main {
  margin-top: 10px;
}
footer {
  margin-top: 10px;
  text-align: center;
  background: #252525;
}
footer p {
  margin: 0;
  padding: 5px;
  color: #888;
  font-style: italic;
}

/* =widgets
------------------------------------------------------------------ */
.widget {
  background: #252525;
  margin-top: 10px;
}
.widget .inside {
  margin: 0;
  padding: 5px 10px;
}
.widget h2 {
  margin: 5px 0;
  text-align: center;
}
#widget_velocity .velocity {
  font-size: 300%;
  text-align: center;
}