<div id="velocity">
  <div class="inside">
    <h2>Velocity</h2>

    <% if @velocity %>
      <div class="velocity value">
        <%= @velocity %>
      </div>
    <% else %>
      <div class="loading">Loading ...</div>
      <script>$.ajax('<%= url_for_event(:load) %>');</script>
    <% end %>
  </div>
</div>